.departure-column {
    display: flex;
}
.add-departure {
    width: 100%;
    padding: 10px;
    height: 50%;
    color: white;
    background: none;
}
.direction-header {
    text-align: center;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    margin: 20px 0;
    width: 100%;
    font-weight: 500;
}

.departures-wrapper .bus-number {
    margin: 0 4px;
}
.departures-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
